{% extends 'base.html.twig' %}

{% block title %}ProxyRoute index{% endblock %}

{% block body %}
    <h1>ProxyRoute index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pattern</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proxy_route in proxy_routes %}
            <tr>
                <td>{{ proxy_route.id }}</td>
                <td>{{ proxy_route.pattern }}</td>
                <td>
                    <a href="{{ path('app_proxy_route_show', {'id': proxy_route.id}) }}">show</a>
                    <a href="{{ path('app_proxy_route_edit', {'id': proxy_route.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proxy_route_new') }}">Create new</a>
{% endblock %}
