{% extends 'base.html.twig' %}

{% block title %}ProxyRoute{% endblock %}

{% block body %}
    <h1>ProxyRoute</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proxy_route.id }}</td>
            </tr>
            <tr>
                <th>Pattern</th>
                <td>{{ proxy_route.pattern }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_proxy_route_index') }}">back to list</a>

    <a href="{{ path('app_proxy_route_edit', {'id': proxy_route.id}) }}">edit</a>

    {{ include('proxy_route/_delete_form.html.twig') }}
{% endblock %}
